.tab-folder {
    .tab-head-group {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;

        background-color: black;
        color: white;

        .tab-head {
            box-sizing: border-box;
            padding: 10px;
            cursor: pointer;

            &:hover {
                background-color: #333;
            }

            &.active {
                background-color: #555;
            }
        }
    }
    .tab-body-group {
        .tab-body {
            box-sizing: border-box;
            display: none;

            &.active {
                display: block;
            }
        }
    }
}
